.row
  .col-xs-6.col-sm-6.col-md-6.col-lg-6
    .form-group
      %label.col-sm-2.control-label{for: "name"}
        Nombre
      .col-sm-10
        %input.form-control#name{type: "text", name: "producer[name]", value: "#{@producer.name}", required: 'required'}
    .form-group
      %label.col-sm-2.control-label{for: "last_name"}
        Apellido
      .col-sm-10
        %input.form-control#last_name{type:"text", name: "producer[last_name]", value: "#{@producer.last_name}", required: 'required'}
    .form-group
      %label.col-sm-2.control-label{for: "renapa"}
        Renapa
      .col-sm-10
        %input.form-control#renapa{type:"text", name: "producer[renapa]", value: "#{@producer.renapa}", required: 'required'}
    .form-group
      %label.col-sm-2.control-label{for: "dni"}
        DNI
      .col-sm-10
        %input.form-control#dni{type:"text", name: "producer[dni]", value: "#{@producer.dni}", required: 'required'}
    .form-group
      %label.col-sm-2.control-label{for: "tel"}
        Tel
      .col-sm-10
        %input.form-control#tel{type:"text", name: "producer[tel]", value: "#{@producer.tel}", required: 'required'}
    .form-group
      %label.col-sm-2.control-label{for: "adress"}
        Direccion
      .col-sm-10
        %input.form-control#adress{type: "text", name: "producer[adress]", value: "#{@producer.adress}", required: 'required'}
    .form-group
      %label.col-sm-2.control-label{for: "email"}
        Email
      .col-sm-10
        %input.form-control#email{type: "email", name: "producer[email]", value: "#{@producer.email}"}
    .form-group
      %label.col-sm-2.control-label{for: "pin"}
        Pin
      .col-sm-10
        %input.form-control#pin{type: "hidden", name: "producer[pin]", value: "#{@producer.pin}", required: 'required'}
        %input.form-control#pin{type: "text", value: "#{@producer.pin}", disabled:true}    
