.row
  .col-md-12
    %h4 Productores
    .row
      .col-md-6
      .col-md-6
        %a{:class => "btn btn-mini btn-primary pull-right", :href => "/producers/new"}
          %i.fa.fa-user-plus
          Nuevo Productor
      %br
      %hr  
.row
  .col-md-12
    %table.table.table-condensed.table-hover#list(cellspacing="0")
      %thead
        %tr
          %th Nombre
          %th Apellido
          %th eMail
          %th DNI
          %th Renapa
          %th Telefono
          %th Direccion
          %th.text-center PIN
          %th.text-center Acciones
      %tboby
        - @producers.each do |producer|
          %tr
            %td= producer.name
            %td= producer.last_name
            %td= producer.email
            %td= producer.dni
            %td= producer.renapa
            %td= producer.tel
            %td= producer.adress
            %td.text-center= producer.pin
            %td.col-md-2.text-center
              %ul.list-unstyled.list-inline
                %li
                  %a.btn.btn-sm.btn-warning.fa.fa-map-marker{href: "/producers/#{producer.id}/apiarios", title:'Crear Apiario'}
                %li
                  %a.btn.btn-sm.btn-success.fa.fa-pencil-square-o{href: "/producers/#{producer.id}/edit", title:'Editar'}
                -if producer.can_delete? 
                  %li
                    %form.btn-delete{method:"post", action:"/producers/#{producer.id}/delete", onsubmit:"return confirm('Seguro que desea borrar el registro?');"}
                      %input{ type:"hidden", name:"_method", value:"delete" }
                      %button.btn.btn-danger.btn-sm.fa.fa-trash-o{ title: 'Borrar',type:'submit' }